@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  line-height: 1.2;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-ser;
  font-weight: 400;
}

.logo {
  width: 190px;
  height: 42px;
}
